body {
    font-family: 'Open Sans', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}
  
th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}
  
th {
    background-color: rgb(117, 201, 250);
}
  
td {
    background-color: rgb(205, 235, 253);
    font-weight: 400;
}
  
/* form {
    display: flex;
    justify-content: space-between;
    gap: 5px; 
} */
  
/* form td:last-child {
    display: flex;
    justify-content: space-evenly;
}
   */
form * {
    font-size: 15px;
}

th,
h2 {
    font-weight: 600;
}

.controls form input {
    padding: 8px;
    margin-right: 8px;
    outline: none;
}

.controls form input[name="lastName"] {
    width: 85px;
}

.controls form input[name="middleName"] {
    width: 85px;
}

.controls form input[name="firstName"] {
    width: 85px;
}

.controls form input[name="birthdate"] {
    width: 150px;
    padding: 6.5px;
}

.controls form input[name="phone"] {
    width: 130px;
}

.controls form input[name="email"] {
    width: 175px;
}

.controls form input[name="workedDays"] {
    width: 220px;
}

.controls form input[name="salaryPerDay"] {
    width: 260px;
}

.controls form button {
    background-color: rgb(117, 201, 250);
    border: 1px solid gray;
    width:105px;
    padding: 9px;
}

.controls form button:hover {
    background-color: rgb(95, 194, 252);
}

.controls form button:active {
    background-color: rgb(0, 162, 255);
}

.controls form button:disabled {
    background-color: rgb(196, 233, 255);
}